.App {
  text-align: center;
}

.result-card {
  backdrop-filter: blur(0px) saturate(173%);
  -webkit-backdrop-filter: blur(0px) saturate(173%);
  background-color: rgba(214, 112, 6, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.actor-portrait {
  width: 10%;
  height: auto;
  margin-right: 10px;
}

/* CSS for fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}